h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sumadd {
    margin-left: 220px;
    margin-bottom: 20px;
}

.back {
    margin-left:620px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.backshow {
    margin-left: 10px;
    margin-bottom: 20px;
}

.sumaddedit {
    margin-left: 200px;
    margin-bottom: 10px;
}

.backshowedit {
    margin-left: 10px;
    margin-bottom: 10px;
}

.editcs {
    border: 0px;
    background: none;
}

.searchstudent {
   margin: 30px;
}